.otpstyle{
    display: flex;
    align-items: flex-start;
 }

 
 .radiofields{
     display: flex;
     align-items: flex-start;
 }
 
 .radiogroups{
     display: flex;
     justify-content: space-around;
     padding-bottom: 20px;
 }
 
 .radiospace{
    margin-right: 38px;
}
.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.form-container{
    max-Width: 500px !important;
    margin: 0 auto !important;
    padding: 15px !important;  
  }

